<div class="flex justify-center items-center min-h-screen">
  <div class="card lg:card-side bg-primary text-primary-content shadow-sm  w-[80%] min-h-[80vh] " *ngIf="customerDetail" >
    <figure class="w-2/5 mx-auto rounded-b-box mt-2 md:m-0">
      <img
        src="assets/img/{{customerDetail.firstname}}.png" alt="photo de l'utilisateur" class="w-full h-full"/>
    </figure>
    <div class="card-body">
      <h2 class="card-title">{{customerDetail.firstname}} {{customerDetail.lastname}}</h2>
      <p>{{customerDetail.email}}</p>
      <div class="card-actions justify-end">
        <button class="btn btn-secondary" (click)="deleteCustomer(customerDetail.id)">🗑️</button>
        <a routerLink="/customer"><button class="btn btn-neutral" >Retour</button></a>
      </div>
    </div>
  </div>
</div>

