<div class="flex flex-col justify-center items-center w-full min-h-[calc(100vh-4rem)]">
  <form [formGroup]="customerForm" (ngSubmit)="onSubmit()" class="bg-primary w-1/2 h-[600px] overflow-auto rounded-2xl">

    <fieldset class="fieldset w-full h-full p-6 flex flex-col justify-around items-center">
      <legend class="fieldset-legend mx-auto text-base text-primary-content uppercase">
        {{ isEditMode ? 'Modifier utilisateur' : 'Inscription' }}
      </legend>

      <div class="w-full flex flex-col gap-y-6 md:flex-row md:gap-x-10 justify-center">
        <div>
          <input id="firstname" type="text" class="input" placeholder="Prénom" formControlName="firstname">
          <p class="error-message-form mt-2" *ngIf="customerForm.get('firstname')?.invalid && customerForm.get('firstname')?.touched">
            Prénom requis (minimum 2 caractères)
          </p>
        </div>

        <div>
          <input id="lastname" type="text" class="input" placeholder="NOM" formControlName="lastname" />
          <p class="error-message-form mt-2" *ngIf="customerForm.get('lastname')?.invalid && customerForm.get('lastname')?.touched">
            Nom requis (minimum 2 caractères)
          </p>
        </div>
      </div>

      <label for="email" class="input validator mx-auto">
        <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor">
            <rect width="20" height="16" x="2" y="4" rx="2"></rect>
            <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
          </g>
        </svg>
        <input id="email" type="email" placeholder="john@doe.com" required formControlName="email" />
      </label>
      <p class="error-message-form" *ngIf="customerForm.get('email')?.invalid && customerForm.get('email')?.touched">
        Email requis et valide
      </p>

      <label for="image" class="input validator mx-auto">
        <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor">
            <rect width="20" height="16" x="2" y="4" rx="2"></rect>
            <circle cx="8.5" cy="8.5" r="1.5"></circle>
            <path d="m21 15-3.5-3.5a2 2 0 0 0-2.83 0L9 17"></path>
          </g>
        </svg>
        <input id="image" type="text" placeholder="Lien de l'image" required formControlName="image" />
      </label>
      <p class="error-message-form" *ngIf="customerForm.get('image')?.invalid && customerForm.get('image')?.touched">
        Lien url invalide
      </p>

      <!-- Champs password avec message conditionnel -->
      <label for="password" class="input validator mx-auto" [hidden]="isEditMode">
        <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor">
            <path d="M2.586 17.414A2 2 0 0 0 2 18.828V21a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h1a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h.172a2 2 0 0 0 1.414-.586l.814-.814a6.5 6.5 0 1 0-4-4z"></path>
            <circle cx="16.5" cy="7.5" r=".5" fill="currentColor"></circle>
          </g>
        </svg>
        <input
          id="password"
          [type]="showPassword ? 'text' : 'password'"
          [placeholder]="isEditMode ? 'Nouveau mot de passe (optionnel)' : 'Mot de passe'"
          formControlName="password"
        />
        <button type="button" (click)="togglePasswordVisibility()">👁️</button>
      </label>
      <p class="error-message-form" *ngIf="customerForm.get('password')?.invalid && customerForm.get('password')?.touched">
        Mot de passe requis (minimum 8 caractères avec majuscule, minuscule et chiffre)
      </p>

      <label for="confirmPassword" class="input validator mx-auto" [hidden]="isEditMode">
        <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor">
            <path d="M2.586 17.414A2 2 0 0 0 2 18.828V21a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h1a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h.172a2 2 0 0 0 1.414-.586l.814-.814a6.5 6.5 0 1 0-4-4z"></path>
            <circle cx="16.5" cy="7.5" r=".5" fill="currentColor"></circle>
          </g>
        </svg>
        <input
          id="confirmPassword"
          [type]="showPassword ? 'text' : 'password'"
          [placeholder]="isEditMode ? 'Confirmer le nouveau mot de passe' : 'Confirmer le mot de passe'"
          formControlName="confirmPassword"
        />
      </label>
      <p class="error-message-form" *ngIf="passwordsNotMatch()">
        Les mots de passe ne correspondent pas
      </p>

      <div class="form-actions flex justify-around gap-4">
        <button
          type="submit"
          [disabled]="customerForm.invalid || (!isEditMode && passwordsNotMatch())"
          class="btn btn-secondary btn-xs sm:btn-sm md:btn-md lg:btn-lg xl:btn-xl flex-1">
          {{ isEditMode ? 'Modifier' : 'Inscription' }}
        </button>

        <button
          type="button"
          (click)="resetForm()"
          class="btn btn-neutral btn-xs sm:btn-sm md:btn-md lg:btn-lg xl:btn-xl flex-1">
          Réinitialiser
        </button>
      </div>

    </fieldset>
  </form>
</div>
